@import "./mixins";

body {
  @include center;
   margin: 10% auto;
    .box {
        width: 20rem;
        height: 25rem;
        background-color: cadetblue;
        @include center;
        justify-content: space-evenly;
        flex-direction: column;
        
        
        
    }
    .result {
        background-color: wheat;
        color: black;
        width: 10rem;
        text-align: center;
        height: 18rem;
    }
}